.body{
  background-image: radial-gradient(rgb(90, 11, 64), rgb(28, 72, 78), rgb(22, 16, 47));
  width: cover;
  height:100%;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: lineargradient(to right,#7bafd7,#dc29d0); /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}